<!doctype html>
<html lang="en">
<head>
    <style>
        .card form {
            max-width: 100%; /* Handles the responsive part, it will cause your form to scale with a max-width of 100% */
            margin: auto;
        }
    </style>
</head>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Meeting Notes - Thank you{% endblock title %}

{% block content %}
    <div class="card">
        <h5 style="font-family: cursive;color: darkred">Thank you. The meeting notes for the victim - <b>{{ enrollment.victim }}</b> at event - "{{ enrollment.event }}" has been updated successfully.</h5>
        <p></p>
        <a href='{% url 'events:showevent_meetingnotes' enrollment.event.event_id %}'>+ Add another victim's notes</a>
    </div>
    <p></p>
      <a href='{% url 'nca:home' %}' class="btn btn-secondary">Back to Home</a>
{% endblock content %}
</html>
