<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Events Notes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
{% block content %}
<br>
<br>
<h3 class="text-center">Victim Notes</h3>
<h6 class="text-center font-italic">NOTE: Important Victim notes will be marked
    <mark style="color:red;">RED</mark>
</h6>
<br>
<section>
    <div class="row">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th><h6>Victim Name</h6></th>
                <th><h6>Victim Notes</h6></th>
                <th><h6>Volunteer Name</h6></th>
                <th><h6>Event Name</h6></th>
                <th><h6>Start Time</h6></th>
                <th><h6>End Time</h6></th>
            </tr>
            </thead>
            <tbody>
            {% for enrollment in enrollments %}
            <tr>

                <td><h6>{{ enrollment.victim.first_name }}</h6></td>
                {% if enrollment.is_important %}
                <td style="color:red;"><h6>{{ enrollment.notes }}</h6></td>
                {% else %}
                <td><h6>{{ enrollment.notes }}</h6></td>
                {% endif %}
                <td><h6>{{ enrollment.event.volunteer.first_name }}</h6></td>
                <td><h6>{{ enrollment.event.event_name }}</h6></td>
                <td><h6>{{ enrollment.event.start_date_time|time:"h:i A" }}</h6></td>
                <td><h6>{{ enrollment.event.end_date_time|time:"h:i A" }}</h6></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</section>
{% endblock %}
</body>
</html>

