{% extends 'base.html' %}

{% block content %}
<div class="volunteer-entry">
    <h3>Volunteer Information Updated successfully.</h3>
    <br/>
    <p><strong> First Name: </strong>{{ object.first_name }}</p>
    <p><strong> Last Name: </strong>{{ object.last_name }}</p>
    <p><strong> Phone Num: </strong>{{ object.mobile_num }}</p>
    <p><strong> Email: </strong>{{ object.email }}</p>
    <p><strong> Work Num: </strong>{{ object.work_phone }}</p>
    <p><strong> Street Address: </strong>{{ object.street_address }}</p>
    <p><strong> City: </strong>{{ object.city }}</p>
    <p><strong> State: </strong>{{ object.state }}</p>
    <p><strong> Zip: </strong>{{ object.zip }}</p>
    <p><strong> Time Spent: </strong>{{ object.time_spent }}</p>
    <p><strong> Specialization: </strong>{{ object.specialized_choices }}</p>
    <br/>
</div>
    {% endblock content %}
