<!doctype html>
<html lang="en">
<head>
    <style>
        .card form {
            max-width: 100%; /* Handles the responsive part, it will cause your form to scale with a max-width of 100% */
            margin: auto;
        }
    </style>
</head>

{% extends 'base.html' %}
{% block content %}
    <h2>Login</h2>
    <div class="input-box"></div>
        <form method="post" >
        {% csrf_token %}
            {{ error }}
        <h1><label for="uname"><b>Username</b></label>
{#        <i class="fa fa-envelope-o"></i>#}
        <input type="text" placeholder="Enter Username" name="username" required></h1>

        <h1><label for="psw"><b>Password</b></label>
{#        <i class="fa fa-key"></i>#}
        <input type="password" placeholder="Enter Password" id="myInput" name="password" required>
        <span class="eye" onclick="myFunction()">
        </span>
        </h1>
{#        <input type="text" name='username' placeholder="enter username" required/>#}
{#        <input type="text" name='password' placeholder="enter password" required/>#}
        <h1><button  class="login-btn"><a  style="color: black" href="{% url 'users:password_reset_form' %}">Forgot Password ?</a></button>
            <button type="submit" class="login-btn">Submit</button></h1>
      </form>

    <script>
    function myFunction(){
        var x= document.getElementById("myInput")

        if(x.type =='password'){
            x.type="text";
        }
        else{
            x.type="password";
        }

    }

    </script>
{% endblock %}

</html>


---------------Update-------------


