<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
        <h3>Login</h3>
        <form method="post" class="custom-form" >
            {% csrf_token %}
            {{ error }}
            <div class="row mb-2">
                <label for="uname" class="mr-2"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
            </div>
            <div class="row mb-2">
                <label for="psw" class="mr-2"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" id="myInput" name="password" required>
                <span class="eye" onclick="myFunction()"></span>
            </div>
            <div class="row mb-2">
                 <button class="btn-sm btn-primary" type="submit">Log In</button>
            </div>
            <h6 class="row mb-2" id="password-reset-link"><a href="{% url 'users:password_reset_form' %}">Forgotten your  password?</a></h6>
      </form>
    <script>
    function myFunction(){
        var x= document.getElementById("myInput")

        if(x.type =='password'){
            x.type="text";
        }
        else{
            x.type="password";
        }

    }

    </script>
{% endblock %}

</html>


