.navbar {
  background-color: #9946b2;
}
.navbar .navbar-brand {
  color: #feffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #e22bca;
}
.navbar .navbar-text {
  color: #feffff;
}
.navbar .navbar-text a {
  color: #e22bca;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #e22bca;
}
.navbar .navbar-nav .nav-link {
  color: #feffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #e22bca;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #e22bca;
  background-color: #fefefe;
}
.navbar .navbar-toggle {
  border-color: #fefefe;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #fefefe;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #feffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #feffff;
}
.navbar .navbar-link {
  color: #feffff;
}
.navbar .navbar-link:hover {
  color: #e22bca;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #feffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e22bca;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e22bca;
    background-color: #fefefe;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #feffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e22bca;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e22bca;
    background-color: #fefefe;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #feffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e22bca;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e22bca;
    background-color: #fefefe;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #feffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e22bca;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e22bca;
    background-color: #fefefe;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #feffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #e22bca;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #e22bca;
  background-color: #fefefe;
}

nav{
height: 10rem;
    position: fixed;
}

nav div img {
    height: 9rem;
}

nav div ul li{
    width: 33.3%;
}

.myBorder{
    border : 2px solid black;
    border-radius: 7px;
}

.volunteer-story-title-container{
    background-color: white;
    z-index: 9;
    position: absolute;
    width: 350px;
    background: #df9eb8;
}

.victim-story-title-container{
    background-color: white;
    z-index: 9;
    position: absolute;
    width: 420px;
    background: #df9eb8;
    right : 75px;
}

.image-container{
        opacity: 0.8
}

.card-heading:after{
   position: absolute;
    content: '';
    width: 130px;
    height: 2px;
    background-color: white;
    top: 135px;
    left: 15px;
}


.victim-story-container{
  background: #8b9197;
}

.volunteer-story-container{
  background: #8b9197;
}

.story-link-container{
    border: 3px solid;
    width: 220px;
    height: 40px;
    text-align: center;
}

.volunteer-voice-link-container{
    border: 3px solid;
    width: 225px;
    height: 50px;
    text-align: center;
}
/*Remove while removing the work in progress page*/
.wip{
    padding-left: 100px;
    height: 500px;
}

footer{
    height: 15rem;
    background-color: #9946b2;
}

.footer_heading{
    text-decoration: underline;
}

footer div span h7{
    height : 33.3%;
}