.navbar {
  background-color: #9946b2;
}

.user-actions-dropdown{
    background-color: #9946b2;
}

.user-actions-dropdown li{
    width: 100%;
}


.myBorder{
    border : 2px solid black;
    border-radius: 7px;
}

.volunteer-story-title-container{
    background-color: white;
    z-index: 9;
    position: absolute;
    width: 350px;
    background: #df9eb8;
    margin-left: 3rem!important;
    padding-bottom: 1rem!important;
    padding-left: .5rem!important;
    padding-right: 1.5rem!important;
}

.victim-story-title-container{
    background-color: white;
    z-index: 9;
    position: absolute;
    width: 320px;
    background: #df9eb8;
    right : 360px;

}



.image-container{
        opacity: 0.8
}

.card-heading{
        font-size: 29px;
        margin-top:7px;
        padding-right: 1rem!important;
        margin-right: 1rem!important;
        margin-left: .5rem!important;
    }

.card-heading2{
        font-size: 29px;
        margin-top:7px;
        padding-right: 1rem!important;
        margin-right: 1rem!important;
        margin-left: .5rem!important;
    }

.card-heading:after{
   position: absolute;
    content: '';
    width: 130px;
    height: 2px;
    background-color: white;
    top: 135px;
    left: 15px;
}

.card-heading2:after{
   position: absolute;
    content: '';
    width: 130px;
    height: 2px;
    background-color: white;
    top: 145px;
    left: 15px;
}

.home-header{
    font-size: 1.5rem;
}

.span-text{
        padding-right: 3rem!important;
            margin-right: 3rem!important;
        margin-top: 1rem!important;
        margin-left: .5rem!important;
    }

.victim-story-container{
  background: #8b9197;
}

.volunteer-story-container{
  background: #8b9197;
}

.story-link-container{
    border: 3px solid;
    width: 220px;
    height: 40px;
    text-align: center;
}

.volunteer-voice-link-container{
    border: 3px solid;
    width: 225px;
    height: 50px;
    text-align: center;
    margin-right: 3rem!important;
    margin-left: .5rem!important;
    margin-bottom: .5rem!important;
}

footer{
    background-color: #9946b2;
    bottom: 0;
    width: 100%;
}

.footer_heading{
    text-decoration: underline;
}

footer div span h7{
    height : 33.3%;
}


/*--------------CSS for the login-----------------*/
.form-box{
    width: 500px;
    background-color: #fefefe;
    margin : 12%auto;
    padding: 50px 0;
    color: #fff;
}

h1{
    text-align: center;
    margin-bottom: 10px;
    margin-right: 250px;
    /*margin-top: 50px;*/
    font-size: large;
}

h2{
    text-align: center;
    /*margin-bottom: 40px;*/
    margin-bottom: 10px;
    margin-right: 250px;
    margin-top: 50px;
    font-size: 40px;

}


.input-box{
    margin :31px auto;
    width:80%;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input-box input{
    width:90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

.fa{
    margin-right: 10px;
}

.eye{
    position: absolute;
}

#hide1{
    display: none;
}

.login-btn{
    margin: 40px auto 20px;
    margin-bottom: 200px;
    width: 20%;
    margin-left: 80px;
/*    display: block;*/
/*    outline: none;*/
/*    padding: 80px 0;*/
/*    border: 1px solid #fff;*/
    cursor: pointer;
/*    background: transparent;*/
/*    color: #fff;*/
/*    font-size: medium;*/
}


.h3{
    font-size:1vw;
}

.events-img{
    width:250px;
    height:250px;
    float:right;
}

.contactus{
    /*margin :11px auto;*/
    /*width:80%;*/
    padding-top: 10px;
    padding-bottom: 200px;
    /*padding-right: 0px;*/

}

h9{
    text-align: center;
    /*margin-bottom: 40px;*/
    margin-bottom: 10px;
    /*margin-right: 250px;*/
    margin-top: 50px;
    font-size: 40px;

}

.custom-form {
    padding: 20px;
    border: 2px solid;
    border-radius: 15px;
    background-color: #f9f9f9;
    margin-bottom: 100px;
}

.custom-form p label {
    width: 15%;
    float: none !important;
}

.custom-form p input {
    float: none !important;
    background-color: white;
    border: 1px solid;
}

.custom-form input,select {
    height: 35px;
    width: 200px;
}

.custom-form p span  {
    display: block;
    margin-left: 15%;
}
.custom-form ul {
    margin-left: 13%;
}

form.login-form-container p, form.login-form-container div{
    text-align: center !important;
}

.btn-primary {
    background-color: #9946b2 !important;
    border-color: #9946b2 !important;
}

.card form {
    max-width: 100%; /* Handles the responsive part, it will cause your form to scale with a max-width of 100% */
    margin: auto;
}

.bg-pink{
    background-color: lightpink;
}

.content-container{
    min-height: 100vh;
}

.about-us-heading{
    font-size: 22px;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-us-text{
    font-size: 15px;
    font-family: cursive;
}

@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {

    .content-container{
    min-height: 39vh;
    }

    .fa-2x {
        font-size: 5vw;
    }
    .h6{
         font-size: 2vw;
    }

    .h3{
        font-size: 3vw;
        font-weight: bold;
    }

    h6{
        font-size: 2vw !important;
    }

    .card form {
        max-width: 100%; /* Handles the responsive part, it will cause your form to scale with a max-width of 100% */
        margin: auto;
        font-size: 2vw;
    }

    .btn-primary{
        background-color:  #9946b2 !important;
        border-color:  #9946b2 !important;
        font-size: 2vw;
    }

    .btn-secondary{
        font-size: 2vw;
    }

    p{
        font-size: 2vw;
        margin-bottom: 0;
    }

    h3{
        font-size: 3vw;
    }

    .custom-form input, select {
        height: 20px;
        width: 150px;
    }

    .custom-form ul{
        font-size: 2vw;
    }

    .custom-form{
        font-size: 2vw;
        margin-bottom: 20px;
    }

    .volunteer-story-title-container{
        background-color: white;
        z-index: 9;
        position: absolute;
        width: 80px;
        height: 125px;
        background: #df9eb8;
        margin-left: 1rem!important;
        padding-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
    }

    .victim-story-title-container {
        background-color: white;
        z-index: 9;
        position: absolute;
        width: 97px;
        background: #df9eb8;
        right: 16px;
    }

    .card-heading{
        font-size: 7px;
        margin-top:7px;
        padding-right: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .card-heading2{
        font-size: 7px;
        margin-top:7px;
        padding-right: 0 !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .span-text{
        font-size : 6px;
        padding-right: 0 !important;
        margin-right: 0 !important;
        margin-top: 9px !important;
        margin-left: 0 !important;
    }

    .story-link-container{
        border:3px solid;
        width: 50px;
        height: 10px;
        text-align: center;
    }

    .card-heading:after{
        position: absolute;
        content: '';
        width: 38px;
        height: 2px;
        background-color: white;
        top: 53px;
        left: 7px;
    }

    .card-heading2:after{
    position: absolute;
    content: '';
    width: 38px;
    height: 2px;
    background-color: white;
    top: 41px;
    left: 7px;
    }

    .volunteer-voice-link-container {
        font-size: 6px;
        border: 2px solid;
        width: 68px;
        height: 25px;
        text-align: center;
        margin-top: 2px;
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }

    .story-link-container{
        font-size: 6px;
        border: 2px solid;
        width: 68px;
        height: 20px;
        text-align: center;
        margin-top: 5px;
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }

    .home-header{
        font-size: 10px;
    }

    .events-list{
        font-size: 8px;
    }

    .take-notes-btn{
        font-size: 8px !important;
    }

    .events-img{
        width:100px;
        height:100px;
        float:right;
    }
}