<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{%load static %}
{% block title %}FAQ{% endblock title %}

{% block content %}
<div class="row mb-5 mt-5 ml-auto mr-auto">
    <div class="col-sm-3 mr-2">
        <div class="about-us-heading">
            <img src="{% static 'img/volunteer_voice.jpg' %}" class="rounded-circle float-left" alt="Sample image" style="width:200px;height:180px">
        </div>
    </div>
    <div class="col-sm-4 mr-5 ">
        <div class="row mb-5">
            <div class="about-us-heading">
                WHAT IS NEBRASKA CANCER ASSOCIATION?
            </div>
            <div class="about-us-text">
                Established in 1993, the Nebraska cancer association is well-known for the support it provides for
                cancer victims. At NCA, we believe that the most effective medicine for any disease is COURAGE.
                So, we motivate our patients to be courageous and fight cancer through numerous programs, meetings,
                events conducted and volunteered by our volunteer army. Just like any nation's army that protects its
                safety, we protect our patients. We have so far helped 150+ patients suffering from more than 8 types
                of cancer to fight it and start a new life. We fill our patients with the hope to live a normal life,
                to enjoy every minute of it, and bravely fight cancer.Apart from providing support, we also fund cancer
                research programs with the donations collected from our generous donors and also raise funds through
                public events.
            </div>
        </div>
        <div class="row mb-5">
            <div class="about-us-heading">
                WHAT PROGRAMS DO WE CONDUCT?
            </div>
            <div class="about-us-text">
                NCA organizes numerous events - one-to-one meetings with patients, group events, and also public events
                which include but not limited to cancer awareness events, fundraising events, musical nights,
                motivational speeches. Patient motivation and counseling meetings are amongst the most important and
                frequent events conducted by us. Every patient is treated with at most care and attention their health
                is monitored on daily basis and appropriate actions are taken to ensure their wellness. All thanks to
                our wonderful volunteering team for coordinating these events.Today, our volunteer team base is as
                strong as 350 and still counting.
            </div>
        </div>
        <div class="row mb-5">
            <div class="about-us-heading">
                HOW CAN I ENROLL MYSELF AS A VOLUNTEER TO NCA?
            </div>
            <div class="about-us-text">
                Please use the SignUp page to register as a volunteer to our organization. Once you have entered all
                the details and submitted the online registration form, you will receive an email (to the email address
                provided during the registration) with username and one-time-password. Use these credentials to login
                to the website and change the password after the first login.
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row mb-5">
            <div class="about-us-heading">
                HOW WE ORGANIZE FUNDS? AND FOR WHAT?
            </div>
            <div class="about-us-text">
                NCA is a non-profit organization established with a single motto of supporting and motivating cancer
                patients to fight the deadly disease. So, every single cent of the fund we receive is spent on the
                facilities we provide for our patients. We receive funds from donations given by the public, government
                agencies, and private organizations, and also through fundraising events. These funds are spent to
                organize events, maintain the organization, and fund the cancer research programs. NCA has been awarded
                the best cancer association in Nebraska and is also well recognized for the work we do. The cancer
                research program that we fund updates us on every progress they make and every cent that is spent. Our
                volunteers work for the welfare of our patient instead of salary, making them selfless people and true
                heroes.
            </div>
        </div>
        <div class="row mb-5">
            <div class="about-us-heading">
                HOW TO ENROLL A PATIENT TO OUR ORGANIZATION?
            </div>
            <div class="about-us-text">
                If you need our assistance with cancer patients, please reach out to us through phone or email
                mentioned in the contact us page. Average response time to the emails is 2-3 business days. We request
                you to avoid visiting our office due to the COVID-19 pandemic situation.
            </div>
        </div>
        <div class="row mb-5">
            <div class="about-us-heading">
                DO PATIENTS NEED TO PAY FEE TO ENROLL?
            </div>
            <div class="about-us-text">
                NO, there is no enrollment fee for patients to join us.
            </div>
        </div>
        <div class="row mb-5">
            <div class="about-us-heading">
                WHAT ROLE DO VOLUNTEERS PLAY?
            </div>
            <div class="about-us-text">
                Volunteers are the key to the success of our organization. Events, patients counselling meetings
                (one-to-one meetings or group meetings) are handled by the volunteer under the supervision of NCA staff.
                Volunteers are required to maintain patient records confidential.
            </div>
        </div>
    </div>
</div>
{% endblock content %}
</html>
