<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{%load static %}
{% block title %}Stories{% endblock title %}

{% block content %}
<div class="row mb-5 mt-5 ml-auto mr-auto">
    <div class="col-sm-3 mr-2">
        <div class="about-us-heading">
            <img src="{% static 'img/cancer_support.jpg' %}" class="rounded-circle float-left" alt="Sample image"
                 style="width:200px;height:180px">
        </div>
    </div>
    <div class="col-sm-4 mr-5 ">
        <div class="row mb-5">
            <div class="about-us-heading">
                Jamie’s Story: Living as a Trans Woman With a BRCA1 Mutation
            </div>
            <div class="about-us-text">
                <p><strong>Jamie DePolo:</strong>
                    Hello! Thanks for listening. Ira Feinstein is an American author currently living in Chicago. <em>Cut
                        Off</em> will be his first book. Growing up in Georgia and Michigan, Ira lived as Carla before
                    gender transitioning at age 38. Carla lost both of her parents by age 11: her father died
                    unexpectedly of a heart attack, and 2 years later her mother died from breast cancer. Many years
                    after her mother’s death, Carla learned that she carried a <em>BRCA1</em> mutation, which gave her a
                    much higher than average risk of breast and ovarian cancer. Carla had a preventive double mastectomy
                    and hysterectomy before gender transitioning. </p>
                <p>

                    Today we’re going to talk about what it’s like to live with a <em>BRCA1</em> mutation, both as a
                    woman and a trans man, the decision to have preventive surgery, and <em>Cut Off</em>, Ira’s first
                    book. Ira, welcome to the podcast.</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    Hi. Thanks for having me.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    So, we’ll kind of get right into the meat of it. Both your mother and your maternal grandmother died
                    quite young from breast cancer. So, can you tell us a little bit about that time? How old you were,
                    and did your mother know that she had a <em>BRCA1</em> mutation?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    Sure. So, my mother’s mother, she actually had ovarian cancer, but I didn’t find this out until
                    years later. As a child, I thought they had the same cancer.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    I see.</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    And she had died when my mom was in her 20s.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Oh, wow.</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    I never got to meet her. And my mother, she carried that grief with her for the rest of her life.
                    I’ve asked relatives if my mother had any sense that there might be a genetic component to her
                    cancer. Because she got diagnosed in the early ‘80s, so at that time people were talking about high
                    risk for families, but they weren’t talking about genes. And from what I can tell she didn’t really
                    have a sense, you know? It was her mother who died of cancer, her mother’s mother, her grandmother
                    was still alive. So, there wasn’t, you know, a strong...</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    And your mother, did she have any sisters?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    She didn’t have any sisters, either. So, there was just her to have it. So, yeah. From what I could
                    tell, she wasn’t thinking about that.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Okay. Okay. Now, your father died 2 years before your mother, and I’m assuming that your mother had
                    been diagnosed with breast cancer at that point?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    Yeah. Two years before that. Yeah.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Okay. So that must have been… I can’t even imagine. It must have been so hard for you. You were 9.
                    Your father dies unexpectedly. Your mother’s really sick, and on top of all that, you’re completely
                    uncomfortable in your body and how people perceive you. So, can you kind of tell us how you coped
                    and what was going through your head at that time?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    Sure. I think at that time my awareness of my gender, it wasn’t at the forefront of my thinking. It
                    was a seed that would sprout over the years, but it wasn’t at the front. </p>
                <p>

                    I think death was at the front of my thinking, that my father had just died and my mother was sick.
                    And at that point it was a lot of prayer and hope, and just going to church with my mom and going to
                    special ceremonies where the pastors would bless her, and just this unrelenting feeling that she’s
                    got to be okay. She’s got to be okay. She can’t die, too. </p>
                <p>

                    And when I wasn’t doing that, I was trying to be a normal kid. And then eating a lot of sugar,
                    honestly. I fought with sugar during my youth. Yeah. It was very comforting in those days.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Okay, and you have a younger brother. Is that right?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    I have a younger brother. Yeah. He’s 3 years younger than me.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Okay, and did you two kind of help each other out at all? I know really big events like this, they
                    can either bring families a lot closer, they can kind of split them apart. Did you guys work
                    together?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    He was too young to work together. I think, in a sense, instead, I became his parent.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Oh, I see. Okay.</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    And I felt a great deal of responsibility for him. I remember one time we were at the park with
                    other kids, and I introduced him as my son. But there was something… I was embarrassed when he would
                    do something embarrassing. I felt like it reflected on my parenting skills. It was very intense to
                    watch him sort of try to navigate being a child and also deal with grief, and then my mother feeling
                    overwhelmed and sometimes expressing that. What do I do?</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Oh, yeah. Well, and you, a child yourself, I mean, you were 9, and yet you’re trying to be a parent,
                    too. That’s got to be hard.</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    Yeah. Well, children fill up the space that a family needs them to fill, I find. You know, I’ve
                    known lots of people who have had traumatic childhoods and lots of people who haven’t, and just the
                    way you grow up where your body and your mind can’t quite wrap their head around what’s happening,
                    and yet you start to make the dinner. You start to clean the house more. You start to do all these
                    things that maybe if you’re in a house with two adults who are running the household in an equitable
                    way, you don’t have to grow up in those situations in the same way.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Okay. Yeah. Now, when did you, yourself, decide to have genetic testing? And if you could tell us
                    where you were when you got the results and what your first thoughts were?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    When my mom died when I was 11, genetic testing wasn’t available. It was 1989. The human genome was
                    just being mapped, and the <em>BRCA1</em> mutation wasn’t even named. It was something scientists
                    around the world were on the look for. It was a big race to discover it. </p>
                <p>

                    And so I knew then that I had the mutation. As soon as my mom died, the only rational thought that I
                    could make was my mom died, her mom died. They both had cancer, and they died young, and my mom died
                    younger than her mother. So, I just assumed that I had this mutation, and I decided then to get my
                    breasts removed. </p>
                <p>

                    It wasn’t until the mid ‘90s that testing was available. So, I got testing in 1998 when I was 20. At
                    the time, I was a junior in college. I had a couple years left under my parents’ health — my adopted
                    parents’ — health insurance and I thought, “Well, now is the time to get this done because I don't
                    know what my life will look like once I graduate from college.” So, I went to the University of
                    Michigan’s Cancer Comprehensive Center, and I got genetic testing. I had to bring my adopted mom
                    there with me because they didn’t want to let me have the testing. </p>
                <p>

                    They wanted me to wait a little while, and I think part of the reason they did give me the testing
                    is because they didn’t think I had the mutation. There wasn’t quite enough data in my family lineage
                    for them to be convinced that I had one. They said at the time I only had a 8–11% chance of having
                    the mutation, and I just thought they were crazy. I was like, “Whoa, I know what I know. You can
                    think whatever you want as long as you give me the test.” </p>
                <p>

                    And so they did, and I do remember when I was sitting in the room. It was 2 or 3 days before I
                    turned 21, and they said, “We found a couple of things,” and my first thought was, “I knew it,” you
                    know? I knew it. I was right. I’ve been right. Out of all the, you know, what it is to grow up and
                    be unsure of what major you’re going to choose, and if you want to date somebody or not, but I knew
                    I had a mutation, and I felt really proud of myself in a certain way. Vindicated for having
                    known.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Oh, I bet, and I guess I want to ask — you say they didn’t really want to give you the test, or they
                    wanted you to wait. Was it because they thought that, “Oh, you know, young woman, she may want to
                    have children, we don’t want her to make any real aggressive decisions,” or...?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    I don't know if it was completely that. I think at 20, what was I going to do with that information,
                    you know? Was I going to get a mastectomy right when I was 20? You don’t really “need” to get one
                    that early, you know? The likelihood of you getting cancer at that age isn’t as high as it is maybe
                    in your early 30s. </p>
                <p>

                    And at the time they didn’t have a lot of data.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Hmm.</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    There was not even research to correlate a prophylactic mastectomy with a reduced risk of breast
                    cancer for mutation carriers. The only data they had was that prophylactic mastectomies had reduced
                    your risk of breast cancer if you had a high risk because of your family. </p>
                <p>

                    So, it was such an unknown time that I don't think that there was that much to offer me. And in some
                    ways they’re still the same things that they’re offering people now 20 years later, and then the
                    more aggressive actions people can take. And I don’t know if they trusted that a 20-year-old was
                    emotionally mature enough to handle that information.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Mm-hmm.</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    And you know, in a lot of ways, maybe we’re never really completely ready for that information,
                    especially the trauma usually people have when they’re in that room and they’re asking that
                    question, “Am I next?” It’s a lot to work through.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Now, you said you felt vindicated. I mean, were you upset at all or was it really more, “No, I was
                    right, I have to do something about this”?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    I wasn’t upset. Because I knew it. I remember thinking — because when I got the blood work done, it
                    was about 6 weeks before I got the results because they had to ship it off to Utah and all that
                    stuff — and so I sat with it during that time because it was over the Christmas break, and I was in
                    college. I didn’t have a job. So, I had really nothing to do but think about this mutation, for
                    better or for worse. </p>
                <p>

                    And I thought, “Well, what if they’re right? What if I only have a 8 to 11% chance of having this
                    mutation, and they come back and they say that I don’t have it?” And I just thought, “One, I won’t
                    believe them, and two, I will think that there’s a different mutation that they haven’t discovered
                    yet.” I couldn’t relax until I had this confirmation. And so in that way I wasn’t sad about it
                    because I couldn’t imagine my life without it. It was the only thing that made sense in the
                    narrative.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Okay. Okay, and had you already started thinking about what your next steps might be at that point?
                </p>
                <p><strong>

                    Ira Feinstein:</strong>
                    I did. I thought for sure that I would have my breasts removed, and I thought I would have
                    reconstructive surgery like my mother did. And I researched it and I went to the… You know, this was
                    before the internet was the first place people went, or at least it wasn’t the first place I went.
                    So, I went to the Barnes &amp; Noble, and I went to the cancer aisle, and I looked through all these
                    books, and there was this art book of pictures of women who had mastectomies. </p>
                <p>

                    And you see them in all different stages, and I remember sort of sitting in one of those big comfy
                    chairs and slowly going through the pages and just the shock. Because I hadn’t really seen my
                    mother’s scars. She’d hidden that from me. So, it was the first time I had seen, what does a body
                    look like when it’s had a breast removed, and then what does it look like when they’ve created a new
                    one, and what are these scars, you know? </p>
                <p>

                    And I was 21 years old at that time, and it felt so scary to give my body to a doctor, and I wasn’t
                    sure what it would feel like to be cut up, cut open, cut off.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Mm-hmm. Okay. Now, you have several essays on your website, and in one of them you talk about
                    pondering what you call “this middle ground.” So, not feeling like a woman or a man after your
                    hysterectomy, which you decided to have as well. And I think you were still living as Carla at this
                    point, but you did make the decision to live as Ira about 12 years later. So, did your preventive
                    surgeries at all figure into that, into the gender transitioning at all?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    I think that the surgeries sort of cleared the road for me, because I couldn’t deal with being trans
                    because of the mutation. In my mind, the mutation — I have to save my life from cancer — that was so
                    much in the forefront. And my feelings about my body, my feelings about being trans, I did not trust
                    them because my mom died of cancer. Her mom died of cancer. What is it to be a woman? For me, it was
                    to be somebody who was about to die of cancer! And so I couldn’t be sure that my feelings about my
                    body weren’t in some way wrapped up in that trauma in some twisted, defensive response to what it is
                    to be a woman. You know, how did I know I was trans? There were too many variables that I had to
                    test. </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row mb-5">
            <div class="about-us-text">

                <p>

                    So, when I had my mastectomy and I looked down at my chest and I didn’t miss my breasts, and I just
                    thought, “Oh, yeah, this is what I always wanted, and it feels right.” That was really
                    empowering. </p>
                <p>

                    And then when I had my hysterectomy — and it’s harder with a hysterectomy because you don’t see the
                    changes. You feel the changes. You feel the hormonal surge and the craziness. So, it didn’t have the
                    same sort of moment of, “A-ha, I made the right choice.” For me, the hysterectomy was, “I no longer
                    have to have a vaginal ultrasound every 6 months. I no longer have to have a CA125 blood test every
                    6 months, and I no longer have to wonder if in between those times cancer’s developing in my body
                    and I’m going to get the test and find out that I already have stage III cancer, even though I’ve
                    been testing regularly.” Because that happens to people. Those tests are not, nothing’s 100% sure.
                    So, I feel as if the surgeries cleared the way.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Okay. Now, so, after you transitioned, did you look at the <em>BRCA1</em> mutation any differently?
                    I’m assuming it faded maybe to the back, but did you feel any differently about it?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    It faded to the back pretty much immediately after I had my hysterectomy. Because at that point I
                    felt as if I had done everything I could do to prevent cancer. Because there’s so many things we can
                    do, right? We can get the testing done regularly. We can get the mammograms done regularly. We can
                    live an austere life where we never drink any alcohol and we have a body that’s in a very alkaline
                    state, and, you know, maybe we take off our bras with the underwires because we want to make sure
                    the lymph is flowing in our breasts, and we get traditional Chinese medicine so that we know that
                    all of our ecosystems in our body are in balance. </p>
                <p>

                    There’s so many things to do, but for me, how did I feel at peace with having a mutation and knowing
                    that I did everything I could? That was having the surgeries. And at that point I just thought,
                    “Well, the cancer could end up in my epithelial tissue. It could end up somewhere, but I know that I
                    did it all.” </p>
                <p>

                    And so I don't think that much about it anymore, and that’s been a blessing because I’ve been able
                    to live my life. And I think up until 26 when — I guess I had my hysterectomy at 29 — up until that
                    point I couldn’t think about anything else. I couldn’t function in the world the way other people do
                    because I was so scared. Every cramp that I felt was ovarian cancer.</p>
                <p>

                    You know? It was a very heightened sense of just always being in that fight-or-flight state of,
                    “Take action. Take action. Take action.”</p>
                <p><strong>

                    Jamie DePolo: </strong>
                    Yeah, and that’s really no way to live. That’s way too stressful.</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    It’s no way to live.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    No. So, now, I think that a <em>BRCA1</em> mutation also maybe increases the risk of pancreatic
                    cancer. So, you talked about, you know, you had done everything you felt that you could. Do you
                    still have to have any special screening at all?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    If I do, I’m not completely aware of it. You know, because of my history, I had a hysterectomy. I
                    had my cervix removed. They’re like, “Well, we don’t really need to do a Pap smear or anything like
                    that,” so I don’t. Maybe I should. There’s nothing to do in a mammogram. I mean, maybe they would do
                    an MRI every once in a while, but I don't know that insurance would cover it, and I’m not in the
                    place to pay for it. </p>
                <p>

                    I think maybe when I hit 50 I’ll get an MRI. I’ll pay for it out of pocket if I have to every couple
                    of years, just to make sure. My adopted father, oddly enough, ended up having pancreatic cancer.
                    He’s one of the few people who have survived. He’s 12 years cancer-free. Knock on wood.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Wow. That’s great.</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    So, I’m very acutely aware of not only what it is to have pancreatic cancer, but what it is to
                    survive it and all the complications that are left over in the wake of having those parts of your
                    body removed. It is not an easy path.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Yeah. Yeah. Okay. Now, I wanted to ask you, as a trans man, how has your experience been with the
                    medical community through all of this?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    At the time, I felt like I was pulling one over on the medical community.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Really? How so?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    Yeah, because I knew on some level that I didn’t really want to be a woman, but I didn’t feel
                    comfortable saying that in any direct way. And I was sort of experimenting with that feeling, as we
                    talked about earlier, because I wasn’t quite sure I could trust it. </p>
                <p>

                    So, when I went to the doctor and I wanted the hysterectomy, and I didn’t want to have kids and all
                    of these things, I was so prepared for them to say, “Oh, you’re a woman and you want to wait until
                    you’re 35 at least and you’ve given yourself a chance to reproduce.” But the doctor actually was
                    very, “Oh, yes, this is great. You know, we try to get women to have these surgeries all the time,”
                    and such and such and such. And I just thought, “Well, how lucky am I that you are all gung-ho for
                    me to have this surgery? I don’t have to tell you anything about my gender identity.” </p>
                <p>

                    It doesn’t even need to come into play, which was very freeing because nowadays in the 2020s, or in
                    the 2010s on, it’s easier to find a doctor — maybe not everywhere in the country — but it’s easier
                    to find a doctor who is aware of gender issues. But finding one who’s aware of gender issues and
                    who’s aware of the <em>BRCA1</em> mutation, and, you know, an oncologist for that part of your body,
                    there’s not that many. In the state of Oregon, there were three doctors who could’ve performed the
                    surgery that I needed. And to find one who was also sensitive to gender? That felt like too much to
                    find, too much to hope for, unfortunately, but I was glad that I didn’t have to talk about it.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Okay. Now, what about now? Because, you know, clearly you have some special issues having the
                    mutation and living as a man. Do you have any issues talking to your doctors now, or did you have to
                    go through a couple?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    I don’t, because I go to doctors who work with people who are transitioned. So they’re very up on
                    the lingo and the language. </p>
                <p>

                    Probably at some point I should go find another genetic counselor, because it’s been a few years,
                    and I think you’re supposed to go to one every year because the information changes. What your risk
                    is changes, what they recommend changes. And really as a mutation carrier, you're on the forefront
                    of technology, you know? And you're at the whims of these changes. So, you get a genetic test and
                    you think it means one thing, and then 5 years later you find out it might mean something else and
                    the risk level changes.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Yeah, and I’m assuming too since you were tested relatively early in the grand scheme of testing,
                    now they have these — I’m assuming your test was just for <em>BRCA1</em> and <em>BRCA2</em>, because
                    I believe that’s all that was known at the time. And now there are panel tests where they’re looking
                    at suites of 30, 35 genes, and they have more information on the variants of unknown significance.
                    So, what do I want to say. Is your blood or results being kept and then updated as technology
                    changes, or is that why you feel like you need to see a counselor?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    No. They haven’t updated or looked at the blood or it’s never been tested again. No. The last time I
                    went to a genetic counselor she said, “You should be coming every year to get new information, to
                    get the latest updates.” It wasn’t based on new blood work. It was just based on how much
                    information could change from year to year and what they recommend, how that changes slightly from
                    year to year.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Okay.</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    Because pancreatic cancer wasn’t something being talked about in the late ‘90s, or it was a theory.
                    It wasn’t something that they were saying, “Okay, your risk goes from 1% to 5%.” At the time, they
                    were talking about colon cancer, and now it doesn’t seem like they’re talking about colon cancer as
                    much. So, I feel like for me if it’s under 5%, I’m not as worried. Not that it’s not real, but it’s
                    just... I’m not going to get my pancreas prophylactically removed to prevent cancer, you know?
                    There’s only so many body parts you can cut off, so.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Right. Okay. So, I guess I have a couple of final questions for you. Do you have any advice for
                    other trans people who are navigating similar medical issues or medical issues that, say, are
                    associated with one gender more than another gender?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    There are the base things, which would be find at least one doctor who understands you, who you feel
                    comfortable communicating with, and who’s in your corner, and if you need that doctor to communicate
                    with maybe a genetic counselor or somebody else in the mutation community, allow them to be the
                    bridge. You don’t always have to be the bridge. If you trust the person, because it is a lot to put
                    our healthcare in somebody else’s hands. </p>
                <p>

                    And then the other thing isn’t about healthcare at all, but it would be to meditate, actually,
                    because no matter what’s going on with a mutation, what surgeries we are or are not getting, we have
                    to be able to find a state of calm and peace during that time. And to be able to make a rational
                    decision, you need to be calm. To be able to sense your intuition and know what’s best for you, you
                    need to be calm. And that’s something I didn’t have 20 years ago. You know, I went to therapy, but
                    therapy only helped me on a cognitive level. </p>
                <p>

                    Therapy has changed a lot, and so I think there are a lot of things they can do when people are in
                    trauma to give you tools and ways to reprogram and rewire your brain so you’re not in that intense
                    flight-or-fight state, but I didn’t have those options at the time. I wish I would have because I
                    think I might have been able to navigate the 20s with a little more grace. Not that any choices
                    would’ve been different, but just I might have found a little more ease moving through it.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Okay, and I’m assuming you, yourself, meditate now?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    I do. I do meditate every day now. Not always well, but I do show up.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Okay! How long have you been doing that?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    Couple years now. It took me a while to get a real practice going.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Okay. My husband meditates a lot, and he says even if you just go and sit at the wall and spend the
                    whole 15 minutes saying, “Brain, calm down. Brain, calm down,” that’s still doing something. </p>
                <p><strong>

                    Ira Feinstein:</strong>
                    Yeah. You're showing up to the practice. Yup. Exactly.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    Right. Okay. So, finally, can you tell us a little bit about your book? I’m assuming, given the
                    title, it’s about your life, and, you know, when will it be out? Can you give us a preview?</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    Sure. <em>Cut Off</em>, it is about my life up until the time I have my prophylactic mastectomy, and
                    not only is it about being cut off from one’s body or getting one’s breasts cut off, but it’s about
                    how trauma cut me off from the whole world. After my parents died and I was taken into a family who
                    had two living, healthy parents and five other children, even though I was very young, I remember
                    thinking, “This isn’t worth it to be a part of a new family. It isn’t worth it to love people. It
                    isn’t worth it to connect to people, because I don't want to deal with losing anybody else,” you
                    know? </p>
                <p>

                    So, it’s just sort of about what is it to grow up when you don’t want to connect and you don’t feel
                    safe to connect to others, and then you don’t feel safe to connect with your body because you’re so
                    convinced that you're going to die, and then the gender issue certainly threw something else into
                    the situation that made it a little more complicated. So, yeah. It’s the arc of that time period of
                    growing up in the ‘80s and the ‘90s when things were a little less clear than they are today. It
                    doesn’t have a publisher yet. I’m currently in the process of trying to find one.</p>
                <p>

                    It’s a whole experience unto itself, but I am confident that I will eventually find somebody,
                    because it is a story that needs to be told. And there aren’t enough stories about people that have
                    had this mutation and make these decisions and the emotional toll that it takes on us to be so
                    unknown in our bodies and in what it is to prevent cancer, which is a very complicated thing for
                    everybody, let alone for somebody who has a high risk.</p>
                <p><strong>

                    Jamie DePolo:</strong>
                    I want to thank you for being so generous with sharing your story with us today because, as you
                    said, it’s not one that gets talked about a lot, and I think this will help a lot of people. So,
                    thank you so much.</p>
                <p><strong>

                    Ira Feinstein:</strong>
                    Thank you.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
</html>
